body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	/*background-color: rgba(229, 128, 255, 0.2);*/	
	background: url(purple-flower-trans.jpg);
	background-size:cover;
}

#page
{
	width: 50%;
	margin: 50px auto;
	background-color: rgba(255,255,255,0.85);
	border: 1px solid #ffffff;
	border-radius: 15px;
}

#header
{
	margin: 0;
	padding: 0;
	width: 100%;
}

#logo
{
	display: block;
	width:579px;
	margin: auto;
	padding: 50px 50px 0px 50px;
}

#menu 
{
	width: 370px;
	margin-top: 0px;
	margin-left: auto;	
	margin-right: auto;
	margin-bottom: 20px;
	padding: 0px;
	background: url(purplebg_small.png) repeat-x left top;
	border: 0px white;
	border-radius: 15px;
}

#menu ul 
{
	-webkit-padding-start: 0;
	margin:0px;
	padding:0px;
}

#menu ul li
{
	display: inline;
	color: #E580FF;
}

#menu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-family:Pristina;
	font-size:20px;
	text-decoration:none;
	padding: 15px 10px 0px 10px;	
	opacity: 0.8;
}

#menu ul li a:hover 
{
	/*color:#E580FF;
	text-decoration:underline;*/
	opacity: 1.0;
}

#footer
{
	clear: both;
	margin: 10px;
	padding-top: 30px;
	font-size: 0.8em;
	text-align: center;
}

.shadow {
	-moz-box-shadow: 5px 5px 5px #E580FF;
	-webkit-box-shadow: 5px 5px 5px #E580FF;
	box-shadow: 0 0 15px #E580FF;
}