body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

p {
	font-family:"Trebuchet MS";
	font-size: 1em;
	text-align:justify;
	width: 90%;
	margin: auto;
}

#page
{
	background-color: rgba(255,255,255,1.0);
	width: 80%;
	margin: auto;
	margin-top: 20px;
	height: 600px;
	border: 0px solid #555555;
	border-radius: 10px;
}

#left {
	display:inline;
	position: relative;
	float: left;
	width: 20%; height: 100%;
	background: #000;
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -khtml-border-top-left-radius: 10px; border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
}

#menu {
	margin-top: 40px;
}

#menu ul {
	-webkit-padding-start: 0;
	list-style:none;
	padding:0;
}

#menu ul li {
	width: 55%; margin: 15px auto;
	padding: 10px 0px;
	text-align: center; 
	border-radius: 10px;
	background: #cccccc;
	cursor:pointer;
}

#menu ul li a {
	color:#000;
	text-decoration: none;
	font-family:Papyrus;
	font-size:16px;
}

#menu ul li a:hover {
	color: #ffffff;
}

#logo {
	width: 174px;
	margin: 10px auto;
}

#footer
{
	clear: both;
	width: 100%;
	position: absolute;
	bottom: 5px;
	font-size: 0.8em;
	text-align: center;
}

#right 
{
	display: inline;
	position: relative;
	float: left;
	width: 80%;
}

#title
{
	text-align: center;
	margin-top: 5px;
}

#title h1 {
	font-size: 36px;
	font-family:Pristina;
	color: #800080;
}

#about { }

#services {
	border:none;
}

#services ul li 
{
	font-family:Pristina;
	font-size: 1.5em;
}

#services h3 
{
	font-family:Pristina;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
}

#services div {
	font-family: "Trebuchet MS";
	font-size: 0.9em;
}

#services p {
	font-family:"Lucida Grande";
	width: 100%;
}

.directions {
	font-style:italic;	
}

.shadow {
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}